@page
@model Mortaria.Areas.Identity.Pages.Account.maiCRM.CustomerListModel
@{
    ViewData["Title"] = "Customers";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-page="./AddCustomer">Add Customer</a>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Business Phone</th>
            <th>Email</th>
            <th>Appointments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td><a asp-page="./CustomerDetails" asp-route-id="@customer.Id">@customer.FirstName</a></td>
                <td>@customer.LastName</td>
                <td>@customer.BusinessPhone</td>
                <td>@customer.Email</td>
                <td>@customer.Appointments.Count</td>
            </tr>
        }
    </tbody>
</table>



