@page
@model Mortaria.Areas.Identity.Pages.Account.Login.LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="login__container col-md-4">
            <div class="logininfo__container col-md-4">
                <section>
                    <h1 class="info__header--title"><span class="purple">LOG IN</span></h1>
                    <form id="account" method="post">
                        <h2 class="info__header--subtitle">Use a local account to log in.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form__input form__input--email form-floating mb-3">
                            <input asp-for="Input.Email" class="form__input--field form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                            <!-- <label asp-for="Input.Email" class="form-label">Email</label> -->
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form__input form-floating mb-3">
                            <input asp-for="Input.Password" class="form__input--field form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                            <!-- <label asp-for="Input.Password" class="form-label">Password</label> -->
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <div>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a id="register-account" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
            <div class="logininfo__container2 col-md-6 col-md-offset-2">
                <!-- <section>
                    <h3>Use another service to log in.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section> -->
                <div class="steps__description">
                    <h1 class="steps__heading--section-title"><span class="purple">STEPS</span></h1>
                    <h1 class="steps__heading--title">Easy to <span class="purple">Get Started.</span></h1>
                    <div class="steps__list">
                        <div class="step">
                            <div class="step__number">
                                01
                            </div>
                            <div class="step__info">
                                <h1 class="step__title">Register</h1>
                                <p class="step__para">Create an account with us using your email.</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step__number">
                                02
                            </div>
                            <div class="step__info">
                                <h1 class="step__title">Sign-In</h1>
                                <p class="step__para">Browse and sign-in to your profile.</p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step__number">
                                03
                            </div>
                            <div class="step__info">
                                    <h1 class="step__title">Run</h1>
                                    <p class="step__para">Follow the instructions to setup and tailor your CRM needs.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
